*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}
.sidebar{
    position: fixed;
    left: -250px;
    width: 250px;
    height: 100%;
    background: red;
}
.sidebar h3{
    color: white;
    line-height: 70px;
    text-align: center;
    background-color: tomato;
}
.sidebar ul a{
    display: block;
    box-sizing: border-box;
    color: white;
    line-height: 65px;
    padding-left: 40px;
    height: 100%;
    width: 100%;
    border: solid 1px #ffffff;
    transition: 1s;
}
ul li:hover a{
   padding-left: 60px;
}
#check{
    display: none;
}
label #btn,label #cancel{
    position: absolute;
    cursor: pointer;
}
label #btn{
    left: 40px;
    top: 26px;
}
label #cancel{
    left: -195px;
    top: 17px;
    z-index: 1;
}
#check:checked ~ .sidebar{
    left: 0; 
}
#check:checked ~ label #btn{
    /* left: 250px; */
    opacity: 0;
    pointer-events: none; 
}
#check:checked ~ label #cancel{
    left: 195px;
}
#check:checked ~ section{
    margin-left: 250px;
}
section{
    background: url(image/swe.jpg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}